<section class="row">
  <div class="col-3 me-auto px-0 position-relative area-search d-none d-lg-block" style="height: calc(100vh - 100px);">
    <div class="z-3 px-3 rounded-bottom-1 position-fixed main-area-search">
      <p class="pt-3 fw-bolder fs-4"> {{'chatMessages.chats' |translate }} </p>
      <input type="search" class="form-control mb-2" [(ngModel)]="searchText"
        [placeholder]="'chatMessages.search' | translate" />
    </div>
    <div class="SideAllChats" style="height: calc(100%); overflow-y: auto; overflow-x: hidden; margin-top: 100px;">
      @for (chat of AllChats | chatSearch : searchText; track chat._id) {
      <div class="row ">
        @if(chat.user2._id === currentChat){
        <div class="col-12">
          <div class="m-2 rounded-1 shadow-light cursor-pointer p-2"
            [routerLink]="['/chat' , chat.user2._id  , chat.messages[chat.messages.length - 1]._id]">
            <div class="d-flex my-1  justify-content-between align-items-center">
              <p class="fw-bolder mb-0">{{chat.user2.email}}</p>
              <small class="mb-0 timeComment fw-bolder">
                @let hours = +chat.messages[chat.messages.length - 1].timestamp.split('T')[1].slice(0, 2);
                @let minutes = chat.messages[chat.messages.length - 1].timestamp.split('T')[1].slice(3, 5);
                @if (hours + 3 >= 24) {
                {{ ((hours + 3) % 24 === 0 ? 12 : (hours + 3) % 24) }}:{{ minutes }}{{ 'notifications.AM' | translate }}
                } @else if (hours + 3 === 12) {
                12:{{ minutes }}{{ 'notifications.PM' | translate }}
                } @else if (hours + 3 < 12) { {{ hours + 3 }}:{{ minutes }}{{ 'notifications.AM' | translate }} } @else if
                  (hours + 3> 12 && hours + 3 < 24) { {{ hours + 3 - 12 }}:{{ minutes }}{{ 'notifications.PM' | translate }}
                    } </small>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <p class="mb-0">{{ chat.messages[chat.messages.length - 1]?.message?.split('')?.slice(0 ,
                16)?.join('')}}...</p>
              <p class="mb-0 timeComment  fw-bolder">{{ chat.messages[chat.messages.length -
                1]?.timestamp?.split('')?.slice(8 ,
                10)?.join('')}}/{{
                chat.messages[chat.messages.length - 1]?.timestamp?.split('')?.slice(5 , 7)?.join('')}}/{{
                chat.messages[chat.messages.length - 1]?.timestamp?.split('')?.slice(0 , 4)?.join('')}}</p>
            </div>
          </div>
        </div>
        } @else {
        <div class="col-12">
          <div class="inner m-2 chatHoverd rounded-1  cursor-pointer p-2"
            [routerLink]="['/chat' , chat.user2._id  , chat.messages[chat.messages.length - 1]._id]">
            <div class="d-flex my-1  justify-content-between align-items-center">
              <p class="fw-bolder mb-0">{{chat.user2.email}}</p>
              <small class="mb-0 timeComment fw-bolder">
                @let hours = +chat.messages[chat.messages.length - 1].timestamp.split('T')[1].slice(0, 2);
                @let minutes = chat.messages[chat.messages.length - 1].timestamp.split('T')[1].slice(3, 5);
                @if (hours + 3 >= 24) {
                {{ ((hours + 3) % 24 === 0 ? 12 : (hours + 3) % 24) }}:{{ minutes }}{{ 'notifications.AM' | translate }}
                } @else if (hours + 3 === 12) {
                12:{{ minutes }}{{ 'notifications.PM' | translate }}
                } @else if (hours + 3 < 12) { {{ hours + 3 }}:{{ minutes }}{{ 'notifications.AM' | translate }} } @else if
                  (hours + 3> 12 && hours + 3 < 24) { {{ hours + 3 - 12 }}:{{ minutes }}{{ 'notifications.PM' | translate }}
                    } </small>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <p class="mb-0">{{ chat.messages[chat.messages.length - 1]?.message?.split('')?.slice(0 ,
                16)?.join('')}}...</p>
              <p class="mb-0 timeComment fw-bolder">{{ chat.messages[chat.messages.length -
                1]?.timestamp?.split('')?.slice(8 ,
                10)?.join('')}}/{{
                chat.messages[chat.messages.length - 1]?.timestamp?.split('')?.slice(5 , 7)?.join('')}}/{{
                chat.messages[chat.messages.length - 1]?.timestamp?.split('')?.slice(0 , 4)?.join('')}}</p>
            </div>
          </div>
        </div>
        }
      </div>
      }
      @if (searchText !== '') {
      <p class="px-3 fw-bolder fs-4">{{'chatMessages.messages' |translate }}</p>
      }
      @for (data of messagesSearch; track $index) {
      @if(data.message.includes(searchText) && searchText !== '') {
      <div class="inner  chatHoverd overflow-x-hidden rounded-1 p-2 cursor-pointer m-2 mb-3"
        [routerLink]="['/chat' , data.userId , data.messageId]">
        <p class="mb-0 fw-bolder">{{ data.email }}</p>
        <div class="d-flex">
          @if(data.isSender === true) {
          <p class="my-1">
            <span class="mb-0 my-1 rounded-1 breakMessage w-fit">
              You: {{ data.message.slice(0, 15) }} ...
            </span>
          </p>
          } @else {
          <p class="my-1">
            <span class="mb-0 my-1 rounded-1 breakMessage w-fit">
              Worker: {{ data.message.slice(0, 15) }} ...
            </span>
          </p>
          }
        </div>
        <div class="d-flex justify-content-between">
          <small class="mb-0 timeComment fw-bolder">
            @let hour = +data.timestamp.split('T')[1].slice(0, 2);
            @let minute = data.timestamp.split('T')[1].slice(3, 5);
            @if (hour + 3 >= 24) {
            {{ ((hour + 3) % 24 === 0 ? 12 : (hour + 3) % 24) }}:{{ minute }}{{ 'notifications.AM' | translate }}
            } @else if (hour + 3 === 12) {
            12:{{ minute }}{{ 'notifications.PM' | translate }}
            } @else if (hour + 3 < 12) { {{ hour + 3 }}:{{ minute }}{{ 'notifications.AM' | translate }} } @else if
              (hour + 3> 12 && hour + 3 < 24) { {{ hour + 3 - 12 }}:{{ minute }}{{ 'notifications.PM' | translate }} }
                </small>
                <p class="mb-0 timeComment fw-bolder">
                  {{ data.timestamp.split('T')[0].split('-')[2] }}/{{ data.timestamp.split('T')[0].split('-')[1] }}/{{
                  data.timestamp.split('T')[0].split('-')[0] }}
                </p>
        </div>
      </div>
      }
      }
    </div>
  </div>
  <div class="col-12 d-flex flex-column  justify-content-between px-0 col-lg-9   position-relative">
    <div class="inner d-flex py-2  flex-column  position-fixed container z-3 ">
      <p class=" cursor-pointer mb-0 w-100 my-1 mx-auto "> <span class="fw-bolder">
          {{'chatMessages.worker'|translate}} : </span> {{workerName}} </p>
      <p class=" cursor-pointer mb-0 w-100 my-1 mx-auto ">
        <span class="fw-bolder "> {{'chatMessages.email'|translate}} : </span>
        <span class="" title="View Profile"  [routerLink]="['/employee-profile' , receiverId]"> {{userEmail}} </span>
      </p>
    </div>
    <div class="flex-grow-1 messages overflow-auto px-3 mb-5 " style="padding-bottom: 100px;">
      @for(msg of messages; track $index) {
      <div class="d-flex mb-2 " [class]="{'justify-content-end': msg.sender._id === senderId,
                    'justify-content-start': msg.sender._id !== senderId}">
        <p class="rounded px-2 py-1 d-flex flex-column justify-content-center w-fit message" [class]="{'sender-bg': msg.sender._id === senderId,
                    'reciver-bg': msg.sender._id !== senderId}">
          @if(msg._id === lastMessageToGoID){
          <span class="breakMessage targetMessage">{{ msg.message }} </span>
          }@else {
          <span class="breakMessage">{{ msg.message }}</span>
          }
          <small class="time timeComment  justify-content-end  d-flex">
            @if (+msg.timestamp.split('').slice(11 , 13).join('') + 3 >= 24) {
            {{((+msg.timestamp.split('').slice(11 , 13).join('') + 3 ) % 24 === 0 ? 12 :
            (+msg.timestamp.split('').slice(11 , 13).join('') + 3 ) % 24)
            }}:{{msg.timestamp.split('').slice(14
            , 16).join('')}}{{'notifications.AM' | translate}}
            }
            @else if (+msg.timestamp.split('').slice(11 , 13).join('') + 3 === 12) {
            12:{{msg.timestamp.split('').slice(14 , 16).join('')}}{{'notifications.PM' | translate}}
            }
            @else if (+msg.timestamp.split('').slice(11 , 13).join('') + 3 < 12) { {{+msg.timestamp.split('').slice(11 ,
              13).join('') + 3 }}:{{msg.timestamp.split('').slice(14 , 16).join('')}}{{'notifications.AM' | translate}}
              } @else if (+msg.timestamp.split('').slice(11 , 13).join('') + 3> 12 &&
              +msg.timestamp.split('').slice(11 , 13).join('') + 3 < 24) { {{(+msg.timestamp.split('').slice(11 ,
                13).join('') + 3 - 12 )}}:{{msg.timestamp.split('').slice(14 , 16).join('')}}{{'notifications.PM' |
                translate}} } </small>
        </p>
      </div>
      }
    </div>
    <div class="position-fixed bottom-0 col-12 col-lg-9 px-3 py-2 inner rounded-top-1 shadow" style="z-index: 10;">
      <form [formGroup]="formMessage" (ngSubmit)="sendMessage()" class="d-flex align-items-center gap-2 w-100">

        <textarea [(ngModel)]="messageText" formControlName="message"
          class="form-control flex-grow-1 border-0 shadow-none px-3 py-2  bg-light"
          [placeholder]="'main-chat.placeHolder' | translate" rows="1" style="resize: none; overflow-y: auto;"
          (input)="adjustTextarea($event)">
    </textarea>

        @if(currentLang === 'en') {
        <button
          class="bg-transparent editButtonHoverColor rounded-1  border-0 d-flex justify-content-center align-items-center"
          style="width: 42px; height: 42px;" title="Tap To send Message">
          <i class="fa-solid fa-paper-plane editSend"></i>
        </button>
        } @else if (currentLang === 'ar') {
        <button class="bg-transparent border-0 rounded-1 d-flex justify-content-center align-items-center"
          style="width: 42px; height: 42px;">
          <i class="fa-solid fa-paper-plane"></i>
        </button>
        }

      </form>
    </div>

  </div>

</section>

