@if (isMainLoading === false) {
<section class="min-vh-100 my-5 py-5 d-flex justify-content-between flex-column align-items-center">
  <div class="container">
    @if (!isLoading) {
    <div class="grandImage">
      <div class="parentImage  mx-auto w-120 h-120 position-relative">
        <div class="ParentIcon ParentIconChangeImage position-absolute  ">
          <small>
            <i class="fas fa-pen iconChangeImage" (click)="fileInput.click()"></i>
          </small>
        </div>
        <input type="file" #fileInput hidden (change)="onFileSelected($event)" />
        @if(userProfileData.images === null){
        <img src="./images/none.jpg" alt="none image" class="w-100 h-100 rounded rounded-circle d-block" />
        }@else {
        <img [src]="userProfileData.images" alt="none image"
          class="w-100 h-100 rounded rounded-circle EditImage d-block" />
        }
      </div>
      <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmModalLabel"> {{ "mineprofile.confirm" | translate }} </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p class="mb-0">
                {{ "mineprofile.sure" | translate }}
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "mineprofile.Cancel" |
                translate }}</button>
              <button type="button" class="btn btn-primary" (click)="updateImage()">{{ "mineprofile.Update" | translate
                }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
    <div class="grandRowContent">
      <div class="row my-4">
        <div [classList]="userRole === 'employee' ? 'col-4 col-lg-2 aboutUser' : 'col-6' "
          (click)="changeActiveName('aboutme')">
          <div class="inner p-2 rounded rounded-2 shadow cursor-pointer">
            <p class="text-center mb-0" [class.fw-bolder]="activeSectionName === 'aboutme'">{{ "mineprofile.About" |
              translate }}</p>
          </div>
        </div>
        @if (userRole === "customer") {
        <div class="col-6" (click)="changeActiveName('posts')">
          <div class="inner p-2 rounded rounded-2 shadow cursor-pointer">
            <p class="text-center mb-0" [class.fw-bolder]="activeSectionName === 'posts'">{{ "mineprofile.Posts" |
              translate }}</p>
          </div>
        </div>
        }
        @if (userRole === "employee") {
        <div class="col-4 col-lg-2 userReviews" (click)="changeActiveName('reviews')">
          <div class="inner p-2 rounded rounded-2 shadow cursor-pointer">
            <p class="text-center mb-0" [class.fw-bolder]="activeSectionName === 'reviews'">{{ "mineprofile.Reviews" |
              translate }}</p>
          </div>
        </div>
        <div class="col-4 col-lg-2 userActivity" (click)="changeActiveName('activity')">
          <div class="inner p-2 rounded rounded-2 shadow cursor-pointer">
            <p class="text-center mb-0" [class.fw-bolder]="activeSectionName === 'activity'">{{ "mineprofile.Activity" |
              translate }}</p>
          </div>
        </div>
        <div class="col-6 col-lg-2 mt-3 mt-lg-0 userProjects" (click)="changeActiveName('projects')">
          <div class="inner p-2 rounded rounded-2 shadow cursor-pointer">
            <p class="text-center mb-0" [class.fw-bolder]="activeSectionName === 'projects'">{{ "mineprofile.Projects" |
              translate }}</p>
          </div>
        </div>
        <div class="col-6 col-lg-4 mt-3 mt-lg-0 userUpload" (click)="changeActiveName('uploadProject')">
          <div class="inner p-2 rounded rounded-2 shadow cursor-pointer">
            <p class="text-center mb-0" [class.fw-bolder]="activeSectionName === 'uploadProject'">{{
              "mineprofile.UploadProject" | translate }}</p>
          </div>
        </div>
        }

      </div>
    </div>
    <div class="grandRealContent ">
      <div class="row">
        @if(activeSectionName === 'aboutme') {
        <div class="col-12 relatedAboutme">
          <div class="inner p-3 rounded  rounded-3 shadow">
            @if (userProfileData) {
            <ul class="list-unstyled my-0">
              <p>
                <li> <span class="fw-bolder">{{"mineprofile.Name" | translate }} : </span> {{userProfileData.firstName}}
                  {{userProfileData.lastName}}
                </li>
              </p>
              <p>
                <li> <span class="fw-bolder">{{"mineprofile.Email" | translate }} : </span> {{userProfileData.email}}
                </li>
              </p>
              @if (userRole === "employee") {
              <p>
                <li> <span class="fw-bolder">{{"mineprofile.JobTitle" | translate }} : </span> {{userProfileData.job}}
                </li>
              </p>
              }

              <p>
                <li> <span class="fw-bolder">{{"mineprofile.Contact" | translate }} : </span>
                  {{userProfileData.contactNumber}}</li>
              </p>
              @if (userRole === "employee") {
              <p class="mb-0">
                <li class="mb-0"> <span class="fw-bolder mb-0">{{"mineprofile.TotalRate" | translate }} : </span>
                  {{userProfileData.rate?.toFixed(1)}}
                </li>
              </p>
              }
            </ul>
            }
          </div>
          <div class="row">
            <div class="col-12">
              <div class="inner cursor-pointer my-3 p-3 rounded rounded-2 shadow" title="log out" (click)="logOut()">
                <p class="fw-bolder fs-4 mb-0">{{"mineprofile.LogOut" | translate }} <i
                    class="fa-solid fa-right-from-bracket"></i></p>
              </div>
            </div>
          </div>
        </div>
        }
        @if(activeSectionName === 'posts') {
        @if (isPostsForcustomer === true) {
        @for (post of postsUserCustomer; track post._id) {
        <div class="row my-2 container mx-auto">
          <div class="col-12">
            <div class="inner  p-3  rounded-1">
              <div class="border-2 rounded-1 border-dark-subtle border p-2">
                <div class="d-flex align-items-center ">
                  <p class="customerName mb-0 fw-bolder fs-4">{{"mineprofile.Me" | translate }}</p>
                  <small class="fw-light mx-1">({{"mineprofile.About" | translate }}{{post.job}}{{"mineprofile.Problem"
                    | translate }})</small>
                </div>
                <div class="mx-1">
                  <small class="time  timeComment  fw-bolder  ">
                    {{post.updatedAt.split('').slice(8 , 10).join('')}}/{{post.updatedAt.split('').slice(5
                    ,7).join('')}}/{{post.updatedAt.split('').slice(0 , 4).join('')}}
                  </small>
                  <small>|</small>
                  <small class="time  timeComment  fw-bolder">
                    @if (+post.updatedAt.split('').slice(11 , 13).join('') + 3 >= 24) {
                    {{((+post.updatedAt.split('').slice(11 , 13).join('') + 3 ) % 24 ===0 ? 12 :
                    (+post.updatedAt.split('').slice(11 , 13).join('') + 3 ) % 24)
                    }}:{{post.updatedAt.split('').slice(14
                    , 16).join('')}}{{'notifications.AM' | translate}}
                    }@else if (+post.updatedAt.split('').slice(11 , 13).join('') + 3 === 12) {
                    12:{{post.updatedAt.split('').slice(14 , 16).join('')}}{{'notifications.PM' | translate}}
                    }@else if (+post.updatedAt.split('').slice(11 , 13).join('') + 3 < 12) {
                      {{+post.updatedAt.split('').slice(11 , 13).join('') + 3 }}:{{post.updatedAt.split('').slice(14 ,
                      16).join('')}}{{'notifications.AM' | translate}} }@else if (+post.updatedAt.split('').slice(11 ,
                      13).join('') + 3> 12 && +post.updatedAt.split('').slice(11 , 13).join('') + 3 < 24) {
                        {{(+post.updatedAt.split('').slice(11 , 13).join('') + 3 - 12
                        )}}:{{post.updatedAt.split('').slice(14 , 16).join('')}}{{'notifications.PM' | translate}} } <i
                        class="fa-solid fa-clock"></i>
                  </small>
                </div>
                <div class="postcontent rounded-1 mt-2 mx-3">
                  <div class="py-2">
                    <p class="contentBE mb-0 px-2">{{post.content}}</p>
                  </div>
                  <div class="parentImagePost position-relative" (click)="openImage(post.image)">
                    <img [src]="post.image" alt="" class="w-100 cursor-pointer rounded rounded-2 d-block" />
                  </div>
                  @if (selectedImage) {
                  <div class="image-modal" (click)="closeImage()">
                    <img [src]="selectedImage" alt="Full Image" (click)="$event.stopPropagation()" />
                    <button class="rounded rounded-2 close-btn" (click)="closeImage()"><i
                        class="fa-solid fa-xmark"></i></button>
                  </div>
                  }
                </div>
                <div class=" mx-3 d-flex justify-content-center mt-3 " [routerLink]="['/comments' , post._id]">
                  <p class="cursor-pointer w-fit comments text-center">
                    <span class="mx-1">{{ "posts.Comments" | translate }}</span>
                    <i class="fa-solid  fa-comment"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        }
        }@else if (isPostsForcustomer === false) {
        <div class="w-75 mx-auto d-flex flex-column justify-content-center align-items-center">
          <p class="fs-5 fw-light text-center">
            {{"mineprofile.noPosts" | translate }}
          </p>
          <a routerLink="/upload-post" class="text-decoration-none fw-bold text-decoration-underline"
            title="Upload Post">{{"mineprofile.UploadPostNow" | translate }}</a>
        </div>
        }
        }
        @if (activeSectionName === 'reviews') {
        <div class="col-12 relatedReviews">
          <div class="row">
            @for (review of reviews ; track $index) {
            <div class="col-12">
              <div class="inner p-3 position-relative rounded   rounded-3 shadow my-3">
                <p
                  [classList]="review.status === 'Completed' ? 'bg-success position-absolute top-0 end-0 rounded rounded-3 p-1': 'bg-warning position-absolute top-0 end-0 rounded rounded-3 p-1'">
                  @if(review.status === 'Completed') {
                  <span class="text-white ">{{"mineprofile.Completed" | translate }}<i
                      class="fa-solid fa-circle-check text-white"></i></span>
                  }@else {
                  <span class="">{{"mineprofile.Pending" | translate }}</span>
                  }
                </p>
                @if(review.status === "Completed") {
                <p class="mt-3"> <span class="fw-bolder ">{{"mineprofile.Review" | translate }} : </span>
                  {{review.review}}</p>
                <p> <span class="fw-bolder">{{"mineprofile.Rate" | translate }} : </span> {{review.rating}}</p>
                }
                <p> <span class="fw-bolder">{{"mineprofile.Customer" | translate }} : </span>
                  {{review.customerId.firstName}}
                  {{review.customerId.lastName}}</p>
                <p [classList]="review.status === 'Completed' ? 'mb-3' : 'mb-0'"> <span
                    class="fw-bolder">{{"mineprofile.CustomerEmail" | translate }}
                    : </span> {{review.customerId.email}}</p>
              </div>
            </div>
            }
          </div>
        </div>
        }
        @if(activeSectionName === 'activity') {
        <div class="col-12 relatedActivity">
          <div class="row">
            @for (comment of comments; track comment._id) {
            <div class="col-12">
              <div class="inner cursor-pointer p-3 rounded rounded-3 shadow my-3" title="Tap To View"
                [routerLink]="['/comments' , comment.postId]">
                @if (comment.comment.split('').length > 11) {
                <p class=" mb-0">{{"mineprofile.YouAreCommented" | translate }}'{{comment.comment.split('').slice(0 ,
                  10).join('')}}...' {{"mineprofile.OnCustomer" | translate }}
                  <span class="fw-bolder">{{comment.customerData.firstName}} </span> Post.
                </p>
                }@else {
                <p class="mb-0">{{"mineprofile.YouAreCommented" | translate }}'{{comment.comment}}'
                  {{"mineprofile.OnCustomer" | translate }} <span class="fw-bolder">{{comment.customerData.firstName}}
                  </span> Post.</p>
                }
              </div>
            </div>
            }
          </div>
        </div>
        }
        @if(activeSectionName === 'projects') {
        @if(isPosts === true) {
        @for (post of postsEmployee; track post._id) {
        <div class="row my-2 container mx-auto">
          <div class="col-12">
            <div class="inner  p-3  rounded-1">
              <div class="border-2 rounded-1 border-dark-subtle border p-2">
                <p class="customerName mb-0 fw-bolder fs-4">{{"mineprofile.Me" | translate }}</p>
                <div class="mx-1">
                  <small class="time  timeComment  fw-bolder  ">
                    {{post.updatedAt.split('').slice(8 , 10).join('')}}/{{post.updatedAt.split('').slice(5
                    ,7).join('')}}/{{post.updatedAt.split('').slice(0 , 4).join('')}}
                  </small>
                  <small>|</small>
                  <small class="time  timeComment  fw-bolder">
                    @if (+post.updatedAt.split('').slice(11 , 13).join('') + 3 >= 24) {
                    {{((+post.updatedAt.split('').slice(11 , 13).join('') + 3 ) % 24 ===0 ? 12 :
                    (+post.updatedAt.split('').slice(11 , 13).join('') + 3 ) % 24)
                    }}:{{post.updatedAt.split('').slice(14
                    , 16).join('')}}{{'notifications.AM' | translate}}
                    }@else if (+post.updatedAt.split('').slice(11 , 13).join('') + 3 === 12) {
                    12:{{post.updatedAt.split('').slice(14 , 16).join('')}}{{'notifications.PM' | translate}}
                    }@else if (+post.updatedAt.split('').slice(11 , 13).join('') + 3 < 12) {
                      {{+post.updatedAt.split('').slice(11 , 13).join('') + 3 }}:{{post.updatedAt.split('').slice(14 ,
                      16).join('')}}{{'notifications.AM' | translate}} }@else if (+post.updatedAt.split('').slice(11 ,
                      13).join('') + 3> 12 && +post.updatedAt.split('').slice(11 , 13).join('') + 3 < 24) {
                        {{(+post.updatedAt.split('').slice(11 , 13).join('') + 3 - 12
                        )}}:{{post.updatedAt.split('').slice(14 , 16).join('')}}{{'notifications.PM' | translate}} } <i
                        class="fa-solid fa-clock"></i>
                  </small>
                </div>
                <div class="postcontent rounded-1 mt-2 mx-3">
                  <div class="py-2">
                    <p class="contentBE mb-0 px-2">{{post.content}}</p>
                  </div>
                  <div class="parentImagePost position-relative" (click)="openImage(post.image)">
                    <img [src]="post.image" alt="" class="w-100 cursor-pointer rounded rounded-2 d-block" />
                  </div>
                  @if (selectedImage) {
                  <div class="image-modal" (click)="closeImage()">
                    <img [src]="selectedImage" alt="Full Image" (click)="$event.stopPropagation()" />
                    <button class="rounded rounded-2 close-btn" (click)="closeImage()"><i
                        class="fa-solid fa-xmark"></i></button>
                  </div>
                  }
                </div>
                <div class=" mx-3 d-flex justify-content-center mt-3 " [routerLink]="['/comments' , post._id]">
                  <p class="cursor-pointer w-fit comments text-center">
                    <span class="mx-1">{{ "posts.Comments" | translate }}</span>
                    <i class="fa-solid  fa-comment"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        }
        }@else if (isPosts === false) {
        <div class="w-75 mx-auto py-5 d-flex justify-content-center align-items-center flex-column">
          <p class="text-capitalize text-danger fw-light fs-5 text-center">
            {{"mineprofile.noProjects" | translate }}
          </p>
          <p class="fw-bolder text-decoration-underline cursor-pointer text-center" title="Upload Project"
            (click)="changeActiveName('uploadProject')">{{"mineprofile.AddProjectNow" | translate }}</p>
        </div>
        }
        }
        @if(activeSectionName === 'uploadProject') {
        <form class="upload-project-form shadow p-4 rounded rounded-3" [formGroup]="uploadProjectForm"
          (ngSubmit)="uploadPost()">
          <p class="text-center fs-5 fw-bold">{{"mineprofile.UploadProject" | translate }}</p>
          <div class="mb-2">
            <textarea name="" formControlName="content" id="content" class="form-control"
              style="resize: none; height: 100px; overflow-y: auto;"
              placeholder="Ex : This Is My First Project..."></textarea>
          </div>
          @if(uploadProjectForm.get('content')?.errors && uploadProjectForm.get('content')?.touched) {
          @if(uploadProjectForm.get('content')?.getError('required')) {
          <p class="text-danger anmieError errorMessages ms-3 my-2  d-flex align-items-center "><i
              class="me-1 fa-solid fa-circle-exclamation text-danger"></i> {{ "login.thisField" | translate }}</p>
          }@else if (uploadProjectForm.get('content')?.getError('minlength')) {
          <p class="text-danger anmieError errorMessages ms-3 my-2  d-flex align-items-center "><i
              class="me-1 fa-solid fa-circle-exclamation text-danger"></i> {{ "uploadPost.asShort" | translate }}</p>
          }@else if (uploadProjectForm.get('content')?.getError('maxlength')) {
          <p class="text-danger anmieError errorMessages ms-3 my-2  d-flex align-items-center "><i
              class="me-1 fa-solid fa-circle-exclamation text-danger"></i> {{ "uploadPost.asLong" | translate }}</p>
          }
          }
          <input type="file" name="" class="form-control my-3" (change)="onFileSelectedTwo($event)"
            formControlName="image" id="projectImage">
          @if(uploadProjectForm.get('image')?.errors && uploadProjectForm.get('image')?.touched) {
          @if(uploadProjectForm.get('image')?.getError('notMatch')) {
          <p class="text-danger anmieError errorMessages ms-3 my-2  d-flex align-items-center "><i
              class="me-1 fa-solid fa-circle-exclamation text-danger"></i>{{ "uploadPost.onlyImages" | translate }}</p>
          }
          }
          @if(uploadProjectForm.get('content')?.valid &&
          uploadProjectForm.get('image')?.valid) {
          <button class="border-0 w-100 p-2 rounded rounded-2 ">{{"mineprofile.UploadProject" | translate }}</button>
          }@else {
          <button class="border-0 w-100 p-2 rounded rounded-2 " disabled>{{"mineprofile.UploadProject" | translate
            }}</button>
          }
        </form>
        }
      </div>
    </div>
  </div>
</section>
}@else if (isMainLoading === true) {
<section class="min-vh-100">

</section>
}
