section {
  margin-top: 6rem !important;
  padding-bottom: 3rem;
  min-height: 100vh !important;
}

.comments:hover span  , .comments:hover i {
  color: rgb(169, 169, 169) !important;
}
.anmieLeft {
  animation: slideLeft ease-in-out 1s ;
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}
.inner {
  position: relative !important;
  margin-block: 0.5rem;
}
.inner::after {
  position: absolute ;
  content: "";
  height: 2px;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  width: 100%;
}
/* .parentImage::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: gray;
  top: 0;
} */
