<div class="parent">
  <owl-carousel-o #owlCarousel [options]="customOptions">
    <ng-template carouselSlide>
      <img src="./images/homeOne.jpg" class="d-block w-100" alt="" srcset="" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="./images/homeTwo.jpg" alt="" srcset="" class="d-block w-100" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="./images/homeThree.jpg" alt="" srcset="" class="d-block w-100" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="./images/homeFour.jpg" alt="" srcset="" class="d-block w-100" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="./images/homeFive.jpg" alt="" srcset="" class="d-block w-100" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="./images/homeSix.jpg" alt="" srcset="" class="d-block w-100" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="./images/homeSeven.jpg" alt="" srcset="" class="d-block w-100" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="./images/homeEight.jpg" alt="" srcset="" class="d-block w-100" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="./images/homeNine.jpg" alt="" srcset="" class="d-block w-100" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="./images/homeTen.jpg" alt="" srcset="" class="d-block w-100" />
    </ng-template>
  </owl-carousel-o>
</div>
