
.w-85 {
  width: 85%;
}
.w-15 {
  width: 15%;
}
.h-1px {
  height: 1px;
}
.w-96 {
  width: 96%;
}
.w-100px {
  width: 100px ;
}
.bg-F5ECD5 {
  background-color: #F5ECD5;
}
.icons {
  width: fit-content;
}

