<section class="aboutus  overflow-y-auto py-5" id="ABOUT">
  <div class="container">
    <div class=" py-5 d-flex justify-content-center align-items-center  position-relative ">
      <h1 class="servicesText position-absolute pb-2 my-1">{{'about_section.title' | translate}}</h1>
    </div>
    <div class="row h-100">
      <div class="col-12  col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="inner h-100 d-flex flex-column innersIcons shadow p-3 rounded-4">
          <i class="fa-solid fa-wrench icon-process my-5 text-black d-flex justify-content-center"></i>
          <h2 class="behind whatquestionAr text-center">{{'about_section.what_we_do.title' | translate}}</h2>
          <p class="text-note lead text-center whatWeDoAnswerTxtAr text-capitalize">{{'about_section.what_we_do.description' | translate}}</p>
        </div>
      </div>
      <div class="col-12  col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="inner h-100 d-flex flex-column  innersIcons shadow  p-3 rounded-4">
          <i class="fa-solid fa-crosshairs icon-process my-5 text-black d-flex justify-content-center"></i>
          <h2 class="behind whoquestionAr text-center">{{'about_section.who_we_are.title' | translate}}</h2>
          <p class="text-note lead text-center whoAnswerAr text-capitalize">{{'about_section.who_we_are.description' | translate}}</p>
        </div>
      </div>
      <div class="col-12  col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="inner h-100 d-flex flex-column innersIcons shadow  p-3 rounded-4">
          <i class="fa-solid fa-bullseye icon-process my-5 text-black d-flex justify-content-center"></i>
          <h2 class="behind MissionAr text-center text-capitalize">{{'about_section.our_mission.title' | translate}}</h2>
          <p class="text-note lead text-center MissionAnswerAr text-capitalize">{{'about_section.our_mission.description' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
